<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, required: true, input_html: { class: 'form-control' }, label_html: { class: 'text-dark h4' } %>
  </div>

  <div class="selecting-avatar">
    <div>
      <%= image_tag("images/default-group.png", class: 'icons', alt: "avatar_image") %>
      <br>
      <%= f.radio_button :icon, "images/default-group.png", checked: true, class: 'radio-default' %>
    </div>

    <% Dir.glob('app/assets/images/group_icons/*').each do |path| %>
      <div>
        <%= image_tag("group_icons/#{ File.basename(path) }", class: 'icons', alt: "avatar_image") %>
        <br>
        <%= f.radio_button :icon, "group_icons/#{ File.basename(path) }" %>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success btn-block' %>
  </div>
<% end %>
