<nav class='nav'>
  <a href='/' class='burger'>
    <div></div>
    <div></div>
    <div></div>
  </a>

  <h1>Groups</h1>

  <div class='search-icon'></div>
</nav>
  <%= link_to '<<<back', :back, class: 'back' %>
<% @groups.each do |group| %>
  <a class='expenses-details' href="/groups/<%= group.id %>">
    <img class='icons' src=<%= group.icon %>>
    <div><%= group.name %></div>
    <div><%= group.created_at.strftime('%d %b %Y') %></div>
  </a>
<% end %>

<%= link_to('Add New Group', new_group_path, class: 'new-expense') %>
