<div class='details'>
  <h3><%= @group.name %></h3>
  <h3>Total amount: $<%= @group_amount %></h3>
</div>

<h2 class='text-center'>Belongs Expenses</h2>

<%= render partial: 'shared/expense', collection: @group_expenses %>

<%= link_to 'Edit', edit_group_path, class: 'btn btn-danger' %>
<%= link_to 'Add New Transaction', new_expense_path, class: 'btn btn-success' %>
