<nav class='nav'>
  <a href='/' class='burger'>
    <div></div>
    <div></div>
    <div></div>
  </a>

  <h1>Transactions</h1>

  <div class='search-icon'></div>
</nav>
<div class='back'>
  <%= link_to '.', :back, class:'back-arrow' %>
</div>
<h4 class='amount'><span>Total amount:</span>  <span>$<%= @transaction_sum %></span></h4>
<% @user_transactions.each do |transaction| %>
  <div class='expenses-details'>
    <img class='icons' src=<%= transaction.icon %>>
    <ul class='transaction'>
      <li>Expense name: <%= transaction.name %></li>
      <li>Group name: <%= transaction.gname %></li>
      <li>Created at: <%= transaction.created_at.strftime('%d-%m-%Y') %></li>
    </ul>
    <div>Amount: $<%= transaction.amount %></div>
  </div>
<% end %>
<%= link_to('Add New Transaction', new_transaction_path, class: 'new-expense') %>
