<%= simple_form_for(@expense) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, required: true, input_html: { class: 'form-control' }, label_html: { class: 'text-dark h4' } %>
    <%= f.input :amount,required: true, input_html: { class: 'form-control' }, label_html: { class: 'text-dark h4' } %>

    <fieldset class='checkboxs'>
    <%= f.collection_check_boxes :group_ids, @user_groups, :id, :name do |cb| %>
      <%= cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
    <% end %>
    </fieldset>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success btn-block' %>
  </div>
<% end %>
